.root {
    -fx-background-color: main-color;
    -fx-background-image: url("../images/background.jpg"); /* Set image */
    -fx-background-size: cover;
}

.text-field {
    -fx-background-color: navajowhite;
    -fx-font: 20px "Arial";
}

.button {
    -fx-background-color: derive(burlywood, 30%);
    -fx-font: italic bold 16px "Arial";
}

.button:hover {
    -fx-background-color: burlywood;
    -fx-font-size: 18px;
}

.button:pressed {
    -fx-background-color: derive(burlywood, -10%);
    -fx-font-size: 20px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    -fx-background-color: darkgoldenrod;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}

